.container {
  padding: 30px 30px 30px 30px;
}
.select-container {
  display: flex;
  justify-content: space-between;
}
.album-details-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
